body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(cadetblue, burlywood);
}
.sticky {
    position: sticky;
    top: 0;
}
.nav {
        display: flex;
        justify-content: flex-end;
        background-color: burlywood;
}
.nav a {
    margin: 1em;
}
a {
    color: blue
}
a:hover {
    color: grey;
}
h1 {
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 1em;
}

.box {
    border: black 2px solid;
    background-color: darksalmon;
    transition: all 1s;
}

.box:hover{
    box-shadow: 10px 10px 8px cornsilk;
    transform: scale(1.05);
}

.box1 {
    grid-column: 1/-1;
    grid-row: 1/3;
}