* {
    margin: auto 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: .5em;
}

body {
    background: linear-gradient(to right, red, #00ff00);
}

h1{
    text-decoration: underline;
    margin: 1em;
    color: rgb(73, 73, 73);
}

h2 {
    text-transform: uppercase;
    margin: 1em;
    color:rgb(73, 73, 73);
}

input{
    margin: 2em;
}