* {
    margin: auto 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(234, 248, 245),rgb(112, 184, 178));
}

h1{
    text-align: center;
    margin: 1em;
    text-decoration: underline;
    color: rgb(103, 131, 128);
}

.noteMaker {
    display: flex;
    justify-content: center;
}

input {
    font-size: large;
    margin-right: 1em;
    transition: ease .5s;
    outline: none;
    color: rgb(103, 131, 128);
}

input:hover {
    transform: scale(1.05);
    border:  rgb(158, 158, 158) 2px solid;
}

button {
    font-size: large;
    background-color: rgb(224, 224, 224);
    border: rgb(158, 158, 158) 2px solid;
    border-radius: .5em;
    transition: .5s;
    color: rgb(103, 131, 128);
}

button:hover {
    background-color: rgb(158, 158, 158);
    transform: scale(1.1);
    color: rgb(224, 224, 224);
}

.myList {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-size: large;
    color: rgb(103, 131, 128);
}

ul{
    list-style-type: none;
}

li{
    padding: .5rem;
    margin: .2rem;
}

li > button{
    margin-left: .5rem;
}

li:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    text-decoration-color: rgb(158, 158, 158);
}