* {
    margin: auto 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: papayawhip;
}

h1{
    text-align: center;
    margin: 1em;
    text-decoration: underline;
    color: rgb(168, 109, 49);
}

.noteMaker {
    display: flex;
    justify-content: center;
}

input {
    font-size: large;
    margin-right: 1em;
    transition: ease 1s;
    border: rgb(168, 109, 49) solid 0.5px;
}

input:hover {
    transform: scale(1.05);
    border:  rgb(168, 109, 49) solid 2px;
}

button {
    font-size: large;
    background-color: peachpuff;
    border: peru 2px solid;
    border-radius: 2em;
    transition: 1s;
    color: rgb(168, 109, 49);
}

button:hover {
    background-color: rgb(226, 192, 162);
    transform: scale(1.1);
}

.myList {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-size: large;
    color: peru;
}